html{
    height: 100%;
}

.bodyForAll {
    width: 100%;
    background-image: url(retro-tv-object_225004-1156-removebg-preview.png), radial-gradient(circle at center,#03151F 30%, #00536B 100%) ; 
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    
    padding: 10px; 
    font-family:'Montserrat', sans-serif;
    color: bisque;
}
.headerOne{
    text-align: center;
    color: #47e8f3;
    font-size: 80px;
    text-shadow: 5px 0 0 #012e47, 0 3px 0 red, -3px 0 0 red, 0 -5px 0 #012e47;
    
}
.frontPageNav{
    position: relative;
    margin: 300px auto 0;
    width: 800px;
    height: 45px;
    border-radius: 20px;
    font-size: 0;
   
}
.frontPageNav a{
    font-size: 30px;
    text-transform: uppercase;
    color: #47e8f3;
    background-color: #006c8acb;
    text-decoration: none;
    z-index: 1;
    display: inline-block;
    text-align: center;
    border: solid 5px #006c8a;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    transition: 1.5s;

}
a:hover{
    box-shadow: 0 5px 50px 0 #01a3cf inset, 0 5px 50px 0 #01a3cf,
    0 5px 50px 0 #01a3cf,  0 5px 50px 0 #01a3cf;
    text-shadow: 0 0 3px bisque, 0 0 3px bisque;

}

.frontPageNav a:nth-child(1){
    width: 200px;
}
.frontPageNav a:nth-child(2){
    width: 400px;
}

.mainButton{
    font-size: 30px;
    text-transform: uppercase;
    color: #47e8f3;
    background-color: #006c8acb;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: solid 5px #006c8a;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    transition: 1s;
    margin: 10px;
    cursor: pointer;
    width: 200px;
}
#searchBtnEdit{
   border: none;
   background-color: inherit;
   color: bisque;
   padding: 14px 28px;
   font-size: 16px;
  cursor: pointer;
  display: inline-block;
      
}
#searchBtnEdit:hover {
background-color: #00546bbd;
border-radius: 20px;
}

table, th, td{
    height: 100px;
    text-align: center;
    border-top: 3px double #03151F;
    border-right: 3px double #03151F;
    border-left: 5px double red;
    border-bottom: 5px double red;
    color: bisque;
    background-color:#01a2cfc4 ;
}

.modal-header{
    background-color: #00536B;
    border: 5px solid bisque;
}
.modal-body{
    background-color: #006c8a;
    border: 5px solid bisque;
}
.modal-footer{
    background-color: #00536B;
    border: 5px solid bisque;
}

.inputBoxes{
width: 100%;
background-color: antiquewhite;
border-radius: 5px;
}
button{
    background-color: #03151F;
    border-bottom: 4px double red;
    border-left: 4px double red;
    border-top: 4px double #47e8f3;
    border-right: 4px double #47e8f3;
    color: bisque;
}
